.card {
    height: 95px;
    width: 50%;
    padding: 24px;

    background: #5499C7;
    color: #fff;

    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card strong {
    font-size: 18px;
}